cloudpickle
crafter
gym==0.19.0
jax
jaxlib
numpy
optax
rich
ruamel.yaml
tensorflow-cpu
tensorflow_probability

python projects/dreamerv3-benchmod/dreamerv3/train.py --logdir ~/logdir/Tester --configs dmc_proprio 
